[user]
	email = pradermecker@cirb.irisnet.be
	name = Pierre Radermecker
[alias]
	st = status
	co = checkout
	dt = difftool
	mt = mergetool
  ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
[color]
	ui = true
[push]
	default = simple
[diff]
    tool = p4merge
[difftool "p4merge"]
    cmd = p4merge "$LOCAL" "$REMOTE"
[merge]
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true
    keepBackup = false
[difftool]
	prompt = false
[mergetool]
	prompt = false
